.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: left;
  opacity: 0.80;

  & > .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: black;
    }
  }
}

.btn {
  min-width: 38px;
  min-height: 28px;
  padding: 0 8px;
  margin: 0;
  border: 0px solid #f0f0f0;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f3f3f3;
  color: #737373;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    color: black;
  }

  &.pressed {
    background-color: #737373;
    color: #f3f3f3;
  }

  &.dark {
    border-color: #2c2d30;
    background-color: #3b3b3e;
    color: #c8c8c8;

    &:hover {
      color: white;
    }

    &.pressed {
      background-color: #c8c8c8;
      color: #3b3b3e;

      &:hover {
        color: black;
      }
    }
  }
}

.btn-icon {
  &:not(:last-child) {
    padding-right: 4px;
  }

  & + * { margin-left: 4px; }
}

.btn-group {
  display: inline-flex;

  & > .btn {
    &:not(:first-child) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &:not(:last-child) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right-width: 1px;
    }
  }
}

.panel {
  border: 1px solid #cccccc;
  border-radius: 6px;
  overflow: hidden;

  & + .panel {
    margin-top: 24px;
  }

  &.fullwidth {
    width: 100%;
  }

  .frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 44px;
    padding: 0 16px;
    background: linear-gradient(to top, #cccccc 0%, #d6d6d6 1px, #ebebeb 100%);
    border-bottom: 1px solid #cccccc;

    & > .left {
      display: flex;
      justify-content: flex-start;
      width: 30%;
    }

    & > .center {
      display: flex;
      justify-content: center;
      width: 30%;

      & > .title-bar {
        height: 44px;
        line-height: 44px;
        text-align: center;
      }
    }

    & > .right {
      display: flex;
      justify-content: flex-end;
      width: 30%;
    }
  }
}
