.workspace {
  flex-grow: 1;
}

// Edit Workspace

.workspace.edit {
  display: flex;
}

.toolbox {
  padding: 16px 32px;
  background: #515258;
  color: white;

  & > .sectionHeading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 8px;
  }

  & > .tool-matrix {
    & .row {
      display: flex;
      padding: 8px 0;

      &:not(:last-child) {
        border-bottom: 1px groove white;
      }
    }

    & .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 96px;
      height: 96px;
      // background: #2c2d30;

      // &:hover {
      //   background: darken(#2c2d30, 10);
      //   cursor: default;
      // }

      &.colspan-2 {
        width: 196px;
        margin-right: none;
      }

      & > .btn-icon > svg {
        margin: 0 16px;
      }

      & > span {
        margin-top: 4px;
      }
    }
  }
}

.program {

  .block-editor {
    margin: 16px;
  }

}

// Debug Workspace

.state-viewer {
  padding: 24px 0;
  margin: 0 12px 12px 12px;
  text-align: center;
  border-bottom: 4px solid #f0f0f0;
  overflow-x: scroll;

  & > *:not(:first-child) {
    margin-top: 24px;
  }
}

.rules-viewer {
  padding: 24px 12px;
  text-align: center;
  overflow-x: scroll;
}

.rule-item {
  & > *:first-child {
    margin-right: 8px;
  }
}

.history {
  display: flex;
  height: 34px;
  background: #f0f0f0;

  & > button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 5px;
    border-radius: 24px;
    border: none;
    font-size: 1rem;
    background-color: #b3b3b3;
    opacity: 0.25;
    transition: opacity 200ms ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.selected {
      opacity: 1;
    }

    &:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }
  }
}
