.rule-block {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1rem;

  & > .left {
    margin-right: 8px;
  }

  & > .right {
    margin-left: 8px;
  }

  & .placeholder {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: 0 16px;
    border: 4px dotted #c8c8c8;
    border-radius: 16px;
    font-size: 1.2rem;
    color: #c8c8c8;
  }
}
