.ruleBlock {
  padding: 8px;
  display: inline-flex;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 32px;

  &:hover {
    border-color: #f0f0f0;
  }

  & > .left {
    margin-right: 8px;
  }
  & > .right {
    margin-left: 8px;
  }
}
