.rule-block {
  // Override button's default style.
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:active {
    color: inherit;
  }

  // Component-specific style.
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border: 4px solid transparent;
  border-radius: 32px;
  cursor: pointer;
  transition: box-shadow 200ms ease-out;

  &:hover {
    border-color: #e6e6e6;
    background-color: #f0f0f0;
  }

  &.selected {
    border-color: #e6e6e6;
    background-color: #f0f0f0;
    box-shadow: 0 0 6px rgb(65, 105, 225);
  }

  & > .left {
    margin-right: 8px;
  }

  & > .right {
    margin-left: 8px;
  }

  & .placeholder {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: 0 16px;
    border: 4px dotted #c8c8c8;
    border-radius: 16px;
    font-size: 1.2rem;
    color: #c8c8c8;
  }
}
